
<div class="jumbotron">
  <h1>And We're Walking!</h1>
  <p>Welcome to the De Vries mother-daughter fundraising site. Thank you so much for your support!</p> </div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">  
      <p><strong>How does this work?</strong> Just click browse above or <%= link_to 'here', 'https://s3-us-west-2.amazonaws.com/bcafundraiser/Auction+Items+2016.pdf', :target => '_blank' %> and you can take a look at the items we have to offer. See something you like but can't be there to bid? Sign up and bid away!</p>
      <p>Get a jump start on your Christmas shopping and support a great cause at the same time!
      <br>
        <br><strong>November 13, 2016
        <br>9:00 am to 12:00 pm
        <br>Abiding Savior Lutheran Church
        <br>515 E. Continental Drive, Tempe
        <br>Sunday School Room and Breezeway</strong></p>
      <p>All vendors participating in the boutique have pledged support for our breast cancer walks, either by donating products or a portion of their sales.</p>
       
      <p>Bid on one of our silent auction items or shop for handcrafted jewelry and aromatherapy items, Gold Canyon candles, Damsel In Defense, Pampered Chef, Thirty-One Gifts, Tupperware, DoTERRA essential oils and more!</p>
      <br>
      <h3>Vendors at the Christmas Boutique</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Email Address or Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Madeline J. Morris</td>
            <td>Tupperware</td>
            <td><%= link_to 'http://madeline.my.tupperware.com', 'http://madeline.my.tupperware.com', :target => '_blank' %></td>
          </tr>
          <tr>
            <td>Rhonda Clauss</td>
            <td>Thirty-One Gifts</td>
            <td><%= link_to 'https://www.mythirtyone.com/RhondaClauss', 'https://www.mythirtyone.com/RhondaClauss', :target => '_blank' %></td>
          </tr>
          <tr>
            <td>Melissa Andrews</td>
            <td>Damsel in Defense</td>
            <td><%= mail_to 'Melissaandrews77@gmail.com' %></td>
          </tr>
          <tr>
            <td>Lori De Vries</td>
            <td>DoTERRA Essential Oils</td>
            <td><%= link_to 'http://mydoterra.com/loridevriesoils', 'http://mydoterra.com/loridevriesoils', :target => '_blank' %></td>
          </tr>
          <tr>
            <td>Janelle Thrasher</td>
            <td>Jewelry and Aromatherapy</td>
            <td><%= mail_to 'janellethrasher@yahoo.com' %></td>
          </tr>
          <tr>
            <td>Tara Wood</td>
            <td>Pampered Chef</td>
            <td><%= mail_to 'tara.wood1@yahoo.com' %></td>
          </tr>
          <tr>
            <td>Margarita Espericueta</td>
            <td>Gold Canyon Candles</td>
            <td><%= mail_to 'margaritabe@msn.com' %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>