<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Editing Item</h1>
    <%= form_for(@item, multipart: true) do |f| %>
      <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :item_title %>
        <%= f.text_field :item_title, class: 'form-control' %>
      </div>
      <div class="form-group">
      	<%= f.label :image %>
      	<%= f.file_field :image %>
      </div>
      <div class="form-group">
        <%= f.label :item_description %>
        <%= f.text_area :item_description, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :item_value %>
        <%= f.text_field :item_value, class: 'form-control', value: number_to_currency(@item.item_value, unit: '$') %>
      </div>
      <div class="form-group">
        <%= f.label :starting_bid %>
        <%= f.text_field :starting_bid, class: 'form-control', value: number_to_currency(@item.starting_bid, unit: '$') %>
      </div>
      <div class="form-group">
        <%= f.label :min_increase %>
        <%= f.text_field :min_increase, class: 'form-control', value: number_to_currency(@item.min_increase, unit: '$') %>
      </div>
      <div class="form-group">
        <%= f.label :donor_name %>
        <%= f.text_field :donor_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :donor_visible, class: 'checkbox inline' do %>
          <%= f.check_box :donor_visible %>
          <span>Allow bidders to see who donated this item.</span>
        <% end %>
      </div>
      <div class="actions">
        <%= f.submit "Update Item", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= link_to 'Show', @item %> |
    <%= link_to 'Back', admin_path %>
  </div>
</div>



